* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  background: rgb(178, 175, 175);
  background: linear-gradient(
    90deg,
    rgb(142, 142, 142) 0%,
    rgb(218, 219, 204) 48%,
    rgb(174, 173, 173) 100%
  );
}

nav {
  background-color: rgb(22, 22, 22);
  height: 8vh;
  padding-left: 1rem;
  padding-top: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 10;
}

.logo {
  color: rgb(140, 150, 2);
  min-width: 7rem;
  display: flex;
  font-size: 2.5rem;
  margin-right: 4rem;
  position: relative;
  top: -0.2rem;
}

nav a {
  color: rgb(222, 219, 157);
  margin: 0 1rem 0 1rem;
  text-decoration: none;
}

.links {
  justify-content: space-between;
  display: flex;
  padding-right: 5rem;
  height: 100%;
  align-items: center;
}

.links .volver {
  display: none;
}

.links a {
  transition: 0.2s;
}

.links a:hover {
  border-bottom: 0.3rem solid yellow;
  padding-bottom: 0.2rem;
  color: black;
  text-shadow: -0.5px -0.5px 0rem black, -0.5px -0.5px 0rem black,
    0 0 1rem yellow, 0 0 1rem yellow, 0 0 1rem yellow, 0 0 1rem yellow,
    0 0 1rem yellow;
  margin-bottom: -0.5rem;
  cursor: pointer;
}

.redes a {
  display: block;
  width: 4rem;
}

.redes {
  position: absolute;
  background-color: rgba(22, 22, 22, 1);
  right: 0%;
  top: 2.6rem;
  width: 10rem;
  height: 5rem;
  display: none;
  padding-top: 1rem;
  border-radius: 10%;
  border-bottom-right-radius: 0;
}

.redes a {
  margin-bottom: 1rem;
  color: rgb(222, 219, 157);
  transition-property: all;
  transition-duration: 0.2s;
}

.redes a:hover {
  border-bottom: 0.3rem solid yellow;
  padding-bottom: 0.2rem;
  color: black;
  text-shadow: -0.5px -0.5px 0rem black, -0.5px -0.5px 0rem black,
    0 0 1rem yellow, 0 0 1rem yellow, 0 0 1rem yellow, 0 0 1rem yellow,
    0 0 1rem yellow;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.REDES:hover ~ .redes,
.links .redes:hover {
  display: block;
}

/* Hasta aquí la nav-bar */

#inicio {
  padding: 0;
  margin: 0;
  display: block;
  height: 92vh;
  background: linear-gradient(
    180deg,
    rgba(255, 248, 248, 0) 58%,
    rgba(10, 10, 10, 0.44861694677871145) 80%,
    rgba(0, 0, 0, 1) 100%
  );
}

section {
  padding-left: 3vw;
  padding-right: 6vw;
  padding-top: 9vh;
}

section h1,
section p {
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
  max-width: 45%;
}

section .slogan {
  position: absolute;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.1vw 0vw;
  top: 5vw;
  min-width: 50%;
}

.slogan span {
  text-shadow: -0.5px -0.5px 0rem black, -0.5px -0.5px 0rem black,
    0 0 1rem yellow, 0 0 1rem yellow, 0 0 1rem yellow, 0 0 1rem yellow;
}

section p {
  position: absolute;
  font-size: 1.2rem;
  top: auto;
  bottom: 25vh;
  font-weight: bold;
  max-width: 53%;
}

#inicio ul {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

#inicio a,
#inicio a:visited {
  position: relative;
  align-items: center;
  top: auto;
  bottom: -60vh;
  padding: 1vw;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(136, 139, 115) 0%,
    rgb(213, 216, 170) 48%,
    rgb(173, 174, 155) 100%
  );
  border: solid 0.2vw;
  color: black;
  font-size: 110%;
  font-weight: bold;
  transition-duration: 0.5s;
  text-decoration: none;
}
#inicio a:hover {
  background: none;
  box-shadow: -0.5px -0.5px 0rem black, -0.5px -0.5px 0rem black,
    0 0 1rem yellow, 0 0 1rem yellow, 0 0 1rem yellow, 0 0 1rem yellow;
  color: yellow;
  border: solid rgba(255, 248, 248, 0);
}

section img {
  position: absolute;
  float: right;
  right: 6vw;
  margin-top: 3rem;
  width: 35%;
}

/* Hasta aquí el inicio */

#quienesSomos {
  padding: 0;
  margin-top: -5.5vh;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(10, 10, 10, 0.44861694677871145) 7%,
      rgba(255, 248, 248, 0) 16%
    ),
    linear-gradient(
      180deg,
      rgba(255, 248, 248, 0) 85%,
      rgba(10, 10, 10, 0.44861694677871145) 95%,
      rgba(0, 0, 0, 1) 100%
    );
  min-height: 150vh;
  height: fit-content;
  display: block;
  align-content: center;
}

#quienesSomos h1 {
  align-items: center;
  font-size: 3rem;
  text-align: center;
  display: flex;
  letter-spacing: 0.1vw;
  justify-content: center;
  text-shadow: -0.5px -0.5px 0rem black, -0.5px -0.5px 0rem black,
    0 0 1rem yellow, 0 0 1rem yellow, 0 0 1rem yellow, 0 0 1rem yellow;
  padding-top: 10vh;
}

#quienesSomos p {
  columns: 3;
  font-size: 1.2rem;
  display: block;
  top: 116vh;
  margin: 5vh;
  font-weight: bold;
  padding-bottom: 10vh;
  margin-bottom: 0px;
}

#quienesSomos img {
  float: right;
  display: flex;
  right: 6vw;
  margin-top: 3rem;
  max-width: 40%;
  width: 30rem;
}

/* ###  Por que nosotros?  ### */

.porQueNosotros {
  height: 97vh;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(10, 10, 10, 0.44861694677871145) 7%,
      rgba(255, 248, 248, 0) 16%
    ),
    linear-gradient(
      180deg,
      rgba(255, 248, 248, 0) 85%,
      rgba(10, 10, 10, 0.44861694677871145) 95%,
      rgba(0, 0, 0, 1) 100%
    );
}
.porQueNosotros h1 {
  margin-top: 0vh;
  align-items: center;
  font-size: 3rem;
  text-align: center;
  display: flex;
  letter-spacing: 0.1vw;
  justify-content: center;
  text-shadow: -0.5px -0.5px 0rem black, -0.5px -0.5px 0rem black,
    0 0 1rem yellow, 0 0 1rem yellow, 0 0 1rem yellow, 0 0 1rem yellow;
  padding-top: 5vh;
}

.tarjetas {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1vh;
  margin-left: 0;
}

.tarjetas .tarjeta {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-position: right;
  width: 25vw;
  height: 50vh;
  margin: 0.7rem;
  border-radius: 10%;
  padding: 1rem;
  position: relative;
  background-blend-mode: darken;
  transition: all 0.5s;
}

.tarjeta .nombre {
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 15%;
  background: rgba(15, 15, 15, 0.5);
  color: beige;
  display: flex;
  position: absolute;
  max-width: 85%;
  padding: 0.2rem 0.5rem;
  text-align: center;
}

.tarjeta .descripcion {
  color: bisque;
  padding: 1vw 2vh;
  font-weight: bold;
  background: rgba(15, 15, 15, 0.5);
  border-radius: 15%;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  display: flex;
  position: absolute;
  top: 3.5rem;
  width: 80%;
}

.tarjeta.first {
  background-image: url(compromiso.jpg);
}

.tarjeta.second {
  background-image: url(calidad.webp);
}

.tarjeta.third {
  background-image: url(competitividad.jpg);
}

.tarjeta.first .descripcion {
  margin-top: 3vh;
}

.tarjetas .tarjeta:hover {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);

  box-shadow: 0px 0px 20px black, 0px 0px 20px black;
  transform: scale(1.05);
  transition: all 200ms, background-color 0.5s;
}
.tarjetas .tarjeta:hover .descripcion {
  transform: scale(1.3);
  transition: all 300ms;
}

footer {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(10, 10, 10, 0.44861694677871145) 15%,
    rgba(255, 248, 248, 0) 25%
  );
  padding-top: 3vh;
}

footer ul {
  width: 500px;
  display: flex;
}
footer a {
  margin: 0 5vw;
  bottom: 25%;
}

/* ### Como lo hacemos? ### */

.como {
  height: 100vh;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(10, 10, 10, 0.44861694677871145) 7%,
      rgba(255, 248, 248, 0) 16%
    ),
    linear-gradient(
      180deg,
      rgba(255, 248, 248, 0) 85%,
      rgba(10, 10, 10, 0.44861694677871145) 95%,
      rgba(0, 0, 0, 1) 100%
    );
}

.como h1 {
  margin-top: 0vh;
  align-items: center;
  font-size: 3rem;
  text-align: center;
  display: flex;
  letter-spacing: 0.1vw;
  justify-content: center;
  text-shadow: -0.5px -0.5px 0rem black, -0.5px -0.5px 0rem black,
    0 0 1rem yellow, 0 0 1rem yellow, 0 0 1rem yellow, 0 0 1rem yellow;
  padding-top: 5vh;
}

.redondos {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
}

.redondo {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 15vw;
  align-items: center;
  margin-top: 1vh;
  margin-left: 0;
  border: solid 3px black;
  border-radius: 0 15%;
  padding: 3vh 2vw;
  margin: 1vw 0;
  box-shadow: 0px 0px 20px black, 0px 0px 20px black;
  background: linear-gradient(
    90deg,
    rgb(136, 139, 115) 0%,
    rgb(213, 216, 170) 48%,
    rgb(173, 174, 155) 100%
  );
  border: solid 0.2vw;
  color: black;
  font-weight: bold;
  text-decoration: none;
  transition: all 300ms;

}

.redondo .descripcion {
  transition: all 300ms;

}

.redondo .numero {
  border-radius: 50%;
  box-shadow: -0.5px -0.5px 0rem black, -0.5px -0.5px 0rem black,
    0 0 1rem yellow, 0 0 1rem yellow, 0 0 1rem yellow, 0 0 1rem yellow;
  color: rgb(0, 0, 0);
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2.5vw;
  margin-bottom: 2vh;
  transition: all 300ms;

}

.redondo .nombre {
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2vw;
  text-decoration: underline;
  margin-bottom: 2vh;
  transition: all 300ms;

}


.redondos .redondo:hover .descripcion {
  color: rgb(252, 252, 155);
  transform: scale(1.1);
  letter-spacing: .02vw;
  transition: all 300ms;
}

.redondos .redondo:hover {
  background: linear-gradient(
    90deg,
    rgb(97, 100, 84) 0%,
    rgb(141, 145, 113) 48%,
    rgb(111, 112, 100) 100%
  );

  transition: all 300ms;
}

.redondos .redondo:hover .numero {
  text-shadow: -0.5px -0.5px 0rem black, -0.5px -0.5px 0rem black,
  0 0 1rem yellow, 0 0 1rem yellow, 0 0 1rem yellow, 0 0 1rem yellow;
box-shadow: none;
  transform: scale(1.2);
  transition: all 300ms;
}

.redondos .redondo:hover .nombre {
  text-shadow: -0.5px -0.5px 0rem black, -0.5px -0.5px 0rem black,
  0 0 3px rgb(252, 252, 155), 0 0 3px rgb(252, 252, 155), 0 0 3px rgb(252, 252, 155), 0 0 3px rgb(252, 252, 155);
  transition: all 300ms;


}



/* ############
   #RESPONSIVE#
   ############ */

@media screen and (max-device-width: 850px) {
  /* SE REDUCE LA NAV */

  .logo {
    margin-right: 0px;
    padding-right: 0;
  }

  .links {
    padding: 0;
    padding-right: 6vw;
    margin-left: 0;
  }

  .links .volver {
    display: inline-block;
  }

  .links .quienes,
  .links .contacto {
    display: none;
  }
}

@media screen and (max-device-width: 700px) {
  section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section .slogan {
    font-size: 250%;
    max-width: 90%;
  }

  section p {
    bottom: 50vh;
    max-width: 90%;
  }

  section img {
    bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
  }

  #inicio a {
    top: auto;
    bottom: -35vh;
    margin: 0 3vw;
  }

  #inicio ul {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-device-width: 542px) {
  /* Menú hamburguesa y slim design */

  .links {
    display: none;
  }

  section p {
    top: 40vh;
    bottom: auto;
    text-align: justify;
  }
  #inicio a {
    top: 67vh;
    bottom: auto;
    margin: 0 3vw;
  }
  section .slogan {
    margin-top: 7vh;
  }
  section img {
    top: 40vh;
    bottom: auto;
    width: 75%;
    margin: 0 6%;
    opacity: 0.3;
  }
}

footer {
  display: none;
}

@media screen and (max-device-width: 372px) {
  section .slogan {
    font-size: 10vw;
  }
  section p {
    top: auto;
    bottom: 10vh;
  }
}
